<app-menu></app-menu>
<ion-header class="header-custom">

  <ion-toolbar>
    <ion-buttons slot="start">

      <ion-button style="font-weight: bold;" (click)="back()">
        <ion-icon name="arrow-back-outline" size="large"></ion-icon>
      </ion-button>

    </ion-buttons>

    <p class="toolbar-title">Detalle compras</p>

    <ion-buttons slot="end" *ngIf="me">

      <ion-button style="font-weight: bold;" (click)="goCart()">
        <ion-icon name="cart-outline" size="large"></ion-icon>
        
      </ion-button>

      <ion-badge color="danger">{{ userService.cartCount || 0 }}</ion-badge>

    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content id="main-content" class="tipografia">

  <div>
    <p class="text-center"> {{ productCount }} artículos seleccionados</p>
  
    <!-- Detalle de compra -->

    <div class="product-list">
      <ion-list>
        <ion-item *ngFor="let product of products">

          <ion-grid>

            <ion-row class="product-info">

              <ion-col size="3" class="product-image">

                <div>
                  <img src="{{ product.imagen }}" alt="{{ product.nombre }}" class="img-fluid" style="max-height: 100px;">
                </div>

              </ion-col>

              <ion-col size="9" class="product-name">

                <ion-row><h5> {{ product.nombre }} </h5></ion-row>
                <ion-row style="block-size: 30px;"> <ion-col size="9"><p class="price1">${{ ( product.precio + product.comision ) | number:'1.2-2' }} MXN c/u</p> </ion-col> <ion-col size="3"> <p class="end count">x{{ product.count }}</p></ion-col> </ion-row>
                <ion-row style="block-size: 30px;"> <ion-col><p>Elegido: <strong style="margin-inline-start: 5px;"> {{ product.atributo }} </strong></p></ion-col> <ion-col><p class="end fw-bold"> ${{ (( product.precio + product.comision ) * product.count) | number:'1.2-2' }} MXN </p></ion-col> </ion-row>

              </ion-col>

            </ion-row>

          </ion-grid>

        </ion-item>

      </ion-list>
    </div>

    <!-- Resumen de pago -->
    <div class="payment-list">
      <ion-grid>

        <ion-row> <ion-col> <p class="title">Subtotal:</p> </ion-col> <ion-col> <p class="number">${{ ( subtotalStr ) | number:'1.2-2' }} MXN</p> </ion-col> </ion-row>
        <ion-row> <ion-col> <p class="title">Cargo servicio:</p> </ion-col> <ion-col> <p class="number">${{ cargoBancario | number:'1.2-2' }} MXN</p> </ion-col> </ion-row>
        <ion-row> <ion-col> <p class="title">Costo administrativo:</p> </ion-col> <ion-col> <p class="number">$0.00 MXN</p> </ion-col> </ion-row>
        <ion-row class="custom"> <ion-col> <p class="title">Total a pagar:</p> </ion-col> <ion-col> <p class="number">${{ totalCobrarStr | number:'1.2-2' }} MXN</p> </ion-col> </ion-row>
        
      </ion-grid>
    </div>

    <div class="promo-code">
      <ion-input mode="ios" placeholder="Ingrese código de cupón"></ion-input>
      <ion-button>Aplicar</ion-button>
    </div>

    <!-- Selección de tipo de pago -->
    <div>
      <label class="label-custom">Seleccione su tipo de pago</label>
      <ion-radio-group [(ngModel)]="methodPay">
        
        <div class="radio-custom" [ngClass]="methodPay == 'efectivo' ? 'selected' : ''" (click)="changeOpt()">

          <ion-radio value="efectivo" labelPlacement="end">Efectivo</ion-radio>
          <img src="assets/img/efectivo.png" alt="">

        </div>

        <div class="radio-custom" [ngClass]="methodPay == 'monedero' ? 'selected' : ''" (click)="changeOpt()">

          <ion-radio value="monedero" labelPlacement="end">Monedero del cliente</ion-radio>
          <img src="assets/img/card.jpeg" alt="">

        </div>

        <!--
        <div class="radio-custom" [ngClass]="methodPay == 'terminal' ? 'selected' : ''" (click)="changeOpt()">

          <ion-radio value="terminal" labelPlacement="end">Terminal bancaria</ion-radio>
          <img src="assets/img/terminalBancaria.png" alt="">

        </div>
      -->
      
      </ion-radio-group>

    </div>

    <div class="container mt-4 mb-2">

      <!-- Campos de datos del cliente en caso de QR -->

      <ion-grid class="custom-input-cont">

        <ion-row class="title-cont"> 
          
          <ion-col> 
            
            <div style="display: flex; justify-content: space-between;" class="custom-search">

              <p>Datos del cliente</p> 
            </div>
            
          </ion-col>

        </ion-row>

        <label> Buscar cliente por email (Correo electrónico)</label>
        <ion-row> 
            
          <ion-col> 
            
            <div class="input-cont custom-search" style="display: flex;">
              
              <ion-input type="text" placeholder="Ingresar correo de cliente" class="form-control inputs-form" [(ngModel)]="searchEmail" mode="ios" [ngClass]="!isValidSearchEmail ? 'bColorRed' : ''" [disabled]="isSearchEmail"></ion-input>
              
              <ion-button (click)="searchClient()" *ngIf="!isSearchEmail">
                <ion-icon name="search-outline"></ion-icon>
              </ion-button>

              <ion-button (click)="resetEmail()" *ngIf="isSearchEmail">
                <ion-icon name="close-outline"></ion-icon>
              </ion-button>

            </div>

          </ion-col>
          
        </ion-row>

        <ion-row class="alert" *ngIf="!isValidSearchEmail"> <ion-icon name="alert-circle"></ion-icon> <p> No hay ningún usuario confirmado. </p> </ion-row>

        <div *ngIf="userData.id">
          <ion-row> 
          
            <ion-col> 
              
              <div class="input-cont">
                <label> Nombre completo </label>
                <ion-input type="text" class="form-control inputs-form" [(ngModel)]="userData.name" mode="ios" [ngClass]="!isValidName ? 'bColorRed' : ''" [disabled]="userData.name"></ion-input>
                <ion-row class="alert" *ngIf="!isValidName"> <ion-icon name="alert-circle"></ion-icon> <p> Este campo es obligario. </p> </ion-row>
              </div>

            </ion-col>
            
          </ion-row>

          <!--
          <ion-row> 
            
            <ion-col> 
              
              <div class="input-cont">
                <label> Email (Correo electrónico) </label>
                <ion-input type="text" class="form-control inputs-form" [(ngModel)]="userData.email" mode="ios" [ngClass]="!isValidEmail ? 'bColorRed' : ''" [disabled]="userData.email"></ion-input>
                <ion-row class="alert" *ngIf="!isValidEmail"> <ion-icon name="alert-circle"></ion-icon> <p> Este campo es obligario. </p> </ion-row>
              </div>

            </ion-col>
            
          </ion-row>
        -->

          <ion-row> 
            
            <ion-col> 
              
              <div class="input-cont">
                <label> Número de teléfono </label>
                <ion-input type="text" class="form-control inputs-form" maxlength="10" [(ngModel)]="userData.telefono" mode="ios" [ngClass]="!isValidTelefono ? 'bColorRed' : ''" [disabled]="userData.telefono"></ion-input>
                <ion-row class="alert" *ngIf="!isValidTelefono"> <ion-icon name="alert-circle"></ion-icon> <p> Este campo es obligario. </p> </ion-row>
              </div>

            </ion-col>
            
          </ion-row>

          <ion-row *ngIf="userData.calle"> 
            
            <ion-col> 
              
              <div class="input-cont">
                <label> Dirección </label>
                <ion-input type="text" class="form-control inputs-form" [(ngModel)]="userData.calle" mode="ios" [ngClass]="!isValidCalle ? 'bColorRed' : ''" [disabled]="userData.calle"></ion-input>
                <ion-row class="alert" *ngIf="!isValidCalle"> <ion-icon name="alert-circle"></ion-icon> <p> Este campo es obligario. </p> </ion-row>
              </div>

            </ion-col>
            
          </ion-row>

          <ion-row *ngIf="!userData.country && userData.state"> 
            
            <ion-col size="6" *ngIf="userData.country"> 
              
              <div class="input-cont" >
                <ion-input type="text" class="form-control inputs-form" [(ngModel)]="userData.country" mode="ios" [ngClass]="!isValidCountry ? 'bColorRed' : ''" [disabled]="userData.country"></ion-input>
                <ion-row class="alert" *ngIf="!isValidCountry"> <ion-icon name="alert-circle"></ion-icon> <p> Este campo es obligario. </p> </ion-row>
              </div>

            </ion-col>

            <ion-col size="6" *ngIf="userData.state"> 
              
              <div class="input-cont">
                <ion-input type="text" class="form-control inputs-form" [(ngModel)]="userData.state" mode="ios" [ngClass]="!isValidState ? 'bColorRed' : ''" [disabled]="userData.state" ></ion-input>
                <ion-row class="alert" *ngIf="!isValidState"> <ion-icon name="alert-circle"></ion-icon> <p> Este campo es obligario. </p> </ion-row>
              </div>

            </ion-col>
            
          </ion-row>

          <ion-row *ngIf="userData.city"> 
            
            <ion-col> 
              
              <div class="input-cont">
                <ion-input type="text" class="form-control inputs-form" [(ngModel)]="userData.city" mode="ios" [ngClass]="!isValidCity ? 'bColorRed' : ''" [disabled]="userData.city" ></ion-input>
                <ion-row class="alert" *ngIf="!isValidCity"> <ion-icon name="alert-circle"></ion-icon> <p> Este campo es obligario. </p> </ion-row>
              </div>

            </ion-col>
            
          </ion-row>

          <ion-row *ngIf="userData.colonia"> 
            
            <ion-col> 
              
              <div class="input-cont">
                <label> Colonia </label>
                <ion-input type="text" class="form-control inputs-form" [(ngModel)]="userData.colonia" mode="ios" [ngClass]="!isValidColonia ? 'bColorRed' : ''"[disabled]="userData.colonia" ></ion-input>
                <ion-row class="alert" *ngIf="!isValidColonia"> <ion-icon name="alert-circle"></ion-icon> <p> Este campo es obligario. </p> </ion-row>
              </div>

            </ion-col>
            
          </ion-row>

          <ion-row  *ngIf="userData.cp"> 
            
            <ion-col> 
              
              <div class="input-cont">
                <label> Código postal </label>
                <ion-input type="text" class="form-control inputs-form" [(ngModel)]="userData.cp" mode="ios" [ngClass]="!isValidCP ? 'bColorRed' : ''" [disabled]="userData.cp"></ion-input>
                <ion-row class="alert" *ngIf="!isValidCP"> <ion-icon name="alert-circle"></ion-icon> <p> Este campo es obligario. </p> </ion-row>
              </div>

            </ion-col>
            
          </ion-row>

          <ion-row *ngIf="userData.fechaNacimiento"> 
            
            <ion-col> 
              
              <div class="input-cont">
                <label> Fecha de nacimiento </label>
                <ion-input type="text" class="form-control inputs-form" [(ngModel)]="userData.fechaNacimiento" mode="ios" [ngClass]="!isValidCP ? 'bColorRed' : ''" [disabled]="userData.fechaNacimiento" ></ion-input>
                <ion-row class="alert" *ngIf="!isValidFechaNacimiento"> <ion-icon name="alert-circle"></ion-icon> <p> Este campo es obligario. </p> </ion-row>
              </div>

            </ion-col>
            
          </ion-row>
        </div>

      </ion-grid>
      
      <ion-grid class="custom-input-cont">

        <ion-row class="title-cont"> <ion-col> <p>Datos del vendedor</p> </ion-col> </ion-row>

        <ion-row> 
          
          <ion-col> 
            
            <div class="input-cont">
              <label> Nombre completo </label>
              <ion-input type="text" class="form-control inputs-form" [(ngModel)]="vendedorData.name" mode="ios" [disabled]="vendedorData.name"></ion-input>
            </div>

          </ion-col>
           
        </ion-row>

        <ion-row> 
          
          <ion-col> 
            
            <div class="input-cont">
              <label> Email (Correo electrónico) </label>
              <ion-input type="text" class="form-control inputs-form" [(ngModel)]="vendedorData.email" mode="ios" [disabled]="vendedorData.email"></ion-input>
            </div>

          </ion-col>
           
        </ion-row>

      </ion-grid>
      
      <div class="product-btn-cont">
        <!-- Botones de compra -->
        <div class="product-buttons">

          <ion-grid>

            <ion-row class="buttons-cart">

              <ion-col size="12" style="display: flex; justify-content: flex-end;">
                <ion-button (click)="openBuyModal()"> <ion-icon name="storefront-outline"></ion-icon> Vender </ion-button>
              </ion-col>

            </ion-row>

          </ion-grid>
        
          <ion-modal #buyModal trigger="open-buy" [initialBreakpoint]="0.35" [breakpoints]="[0.35]" style="--backdrop-opacity: 2.8;" cssClass="modal-custom">

            <ng-template>

              <ion-content>

                <ion-grid class="payment-cont">

                  <ion-row class="header">

                    <ion-col size="12"><p>Confirmar venta</p></ion-col>

                  </ion-row>

                  <ion-row class="price">

                    <ion-col size="12">

                      <div>

                        <p>${{ totalCobrarStr | number:'1.2-2' }} MXN</p>
                        <ion-button (click)="closeBuyModal()"> <ion-icon name="create-outline"></ion-icon> </ion-button>

                      </div>

                    </ion-col>

                  </ion-row>

                  <ion-row>

                    <ion-col size="12">

                      <div class="card-cont">
                        
                        <div class="card-img">
                          <div><img [src]="methodPay == 'monedero' ? 'assets/img/card.jpeg' : methodPay == 'efectivo' ? 'assets/img/efectivo.png' : 'assets/img/terminalBancaria.png' " alt=""></div>
                          <div class="desc">
                            <p>{{ methodPay == 'monedero' ? 'Pago con monedero de ' + userData.name : methodPay == 'efectivo' ? 'Pago en efectivo' : 'Pago con terminal bancario' }}</p>
                            <p [ngClass]="!isQRconfirm ? 'bCRed' : ''">Escanea primero su código QR</p>
                          </div>
                        </div>

                        <div class="price" *ngIf="!isEfectiveOrTerminal">
                          <div>
                            <ion-button *ngIf="!isQRconfirm" (click)="scanQR()" style="--background: #00000017;"> <ion-icon name="qr-code-outline"> </ion-icon> </ion-button>
                            <ion-icon *ngIf="isQRconfirm" name="checkmark-outline" style="color: rgb(41, 190, 21); inline-size: 30px; block-size: 30px;"></ion-icon>
                          </div>
                        </div>
                        
                      </div>

                    </ion-col>

                  </ion-row>

                  <ion-row class="buttons-cart">

                    <ion-col size="12" style="display: flex; justify-content: flex-end;">
                      <ion-button (click)="saleProduct()" style="padding-inline: 20px;" [disabled]="!isQRconfirm"> <ion-icon name="checkmark-outline" size="large"></ion-icon> Confirmar venta </ion-button>
                    </ion-col>

                  </ion-row>

                </ion-grid>
                
              </ion-content>
              
            </ng-template>

          </ion-modal>
          
        </div>
        
      </div>

    </div>
  </div>
  <!-- <app-footer /> -->
</ion-content>