.content-terminos {
    overflow: scroll;
    block-size: 73vh;
}

ion-button.btn-terminos {
    --background: #E9610B;
    color: white;
    font-family: "Barlow-SemiCondensed-Bold";
}

.h5 {
    font-family: "Segoe-Bold";
}