<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-col size="12" class="ion-text-right">
          <ion-button fill="clear" size="small" (click)="closeModal()">
            <ion-icon name="close-circle-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-buttons>
      <ion-title>
        TÉRMINOS Y CONDICIONES DE LA COMPRAVENTA DE PRODUCTOS
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
    <ion-grid>
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size="12" class="text-center">
          <h5>TÉRMINOS Y CONDICIONES DE LA COMPRAVENTA DE PRODUCTOS</h5>
        </ion-col>
      </ion-row>
  
      <ion-row class="row content-terminos">
        <ion-col size="12">
          <h1>TÉRMINOS Y CONDICIONES DE LA COMPRAVENTA DE PRODUCTOS</h1>
          <p>
            TUTICKETMX únicamente actúa como intermediario en la distribución de los productos ofrecidos a través de su plataforma, por lo que no es responsable de la calidad, funcionamiento, disponibilidad, cambios, retrasos en la entrega o cualquier modificación relacionada con los mismos. TUTICKETMX proporciona al cliente el comprobante y la confirmación de compra correspondiente. La adquisición de productos a través de TUTICKETMX generará un cargo por servicio. Los cargos por servicio aplicarán para cada producto adquirido mediante la plataforma.
          </p>
          <p>
            El número de productos adquiridos por una misma persona está limitado dependiendo de la disponibilidad...
          </p>
          <!-- Agrega los párrafos adicionales aquí -->
          <h2>RECOMENDACIONES PARA COMPRA DE PRODUCTOS</h2>
          <ion-list>
            <ion-item>
              <ion-label>Muestra tu código digital dentro de tu smartphone (las capturas de pantalla NO serán aceptadas).</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Presenta tu celular sin daño en la pantalla.</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>La pila de tu celular deberá estar cargada, ya que se requiere tener el brillo y contraste más alto.</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Presenta el código QR de tu ticket digital en su tamaño original, no lo hagas más grande ni más pequeño.</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Verifica que la compra del producto se haya realizado correctamente.</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Deberás retirar la mica anti-espía de tu pantalla para la correcta lectura del código digital.</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>No compartas tus códigos electrónicos con otras personas. Cada código electrónico es único y sólo puede ser utilizado por la persona que lo compró.</ion-label>
            </ion-item>
          </ion-list>
          <p>
            ¿Tienen un servicio de atención al cliente para resolver problemas o inquietudes? Sí, puedes comunicarte con nosotros a través de nuestros diversos medios: 
            <a href="mailto:soporte@accesototal.mx">soporte&#64;accesototal.mx</a> y el teléfono 
            <a href="tel:+529991322837">9991322837</a> (solo WhatsApp).
          </p>
        </ion-col>
      </ion-row>
  
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" class="ion-text-center">
          <ion-button class="btn btn-terminos text-light" (click)="saleProduct()">Aceptar y Pagar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  