/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
//@import "@ionic/angular/css/palettes/dark.system.css";
.modal-custom::part(content) {
  border-radius: 20px 20px 0 0 !important;
  overflow: hidden;
}

.modal-custom::part(backdrop) {
  --backdrop-opacity: 0.6 !important;
  opacity: 0.6 !important;
}

ion-content{
  --background: transparent !important;
}

ion-header.header-custom{
  position: relative;
  display: flex;
  box-shadow: black 0 0;
  block-size: 80px;
  align-items: center;

  ion-toolbar{
    --background: transparent;
    block-size: 72px;
    display: flex;
    padding-inline: 15px;

    .toolbar-title{
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 22px;
      font-weight: bold;
      color: black;
    }

    ion-button{
        
      background: #F6F6F6;
      inline-size: 50px;
      block-size: 50px;
      border-radius: 20px;
      box-shadow: #00000024 0 2px 8px;
      color: #232323;
      --border-radius: 20px !important;

      ion-icon{
        inline-size: 24px;
        block-size: 24px;
      }

    }

    ion-badge{
      position: absolute;
      inset-inline-end: 0px;
      inset-block-start: -3px;
      border-radius: 50%;
      block-size: 22px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      min-inline-size: 21px;
    }
  }
}